img {
  border-radius: 50%;
  height: 15em;
  align-self: center;
}

body {
  background-color: rgba(128, 0, 32, 0.9);
  font-size: 15px;
}

.email {
  color:rgb(209,125,5);
  text-align: center;
}

.image {
  text-align: center;
}

.link {
  height: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 5px;
  border-radius: 15px;
}

.summary {
  text-align: center;
  margin-left: 10em;
  margin-right: 10em;
}

p {
  font-size: 25px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  text-align: center;
}

button {
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(0,0,0, 0.3);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.logo {
  height:100px;
  border-radius: 25%;
  padding-top: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:link, a:visited {
  margin-top: 20px;
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

a:hover, a:active {
  background-color: black;
}

@media screen and (max-width: 1000px){
  img {
    height:25em;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  button {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .link {
    width: 80%;
    height: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
      font-size: 50px;
      font-weight: bold;
  }

  h1 {
    font-size: 80px;
  }

  button {
    font-size: 60px;
    font-weight: bold;
    width: 80%;
    height: 60%;
  }

}



@media screen and (min-width: 1050px){
  img {
      height: 15em;
  }

  .container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap
  }

  .link{
    width: 49%;

  }
}
